/* for typing widget by marko codepen
.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    /* display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  } */ 
/* 
for nav bar */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

li,a, button {
    font-family: 'Uchen';
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;  
}

.navlink {
    list-style: none;
}

.navlink li {
    display: inline-block;
    padding: 0px 20px;
}

.navlink li a {
    transition: all .03 ease 0s;
}

.navlink li a:hover {
    color: yellow;
}

button { 
    padding: 9px 25px;
    background-color: rgba(255,255,0,0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(255,255,0,0.4);

}
