<div class=" welcome0">
  <h2 class="welcome1"> nice to meet you! im shelby butt and this is my portfolio</h2>
  <h3 class="welcome2"> richmond va</h3>
  <h3 class="welcome3">github: https://github.com/shelbylb97</h3>
  <h3 class="welcome3">linkedin: www.linkedin.com/in/shelby-butt</h3>
</div>

<div>
    <h3 class="welcome1">recent work</h3>
</div>

</div>