<div class=" welcome0">
  <h2 class="welcome1"> nice to meet you! im shelby butt and this is my portfolio</h2>
  <h3 class="welcome2"> richmond va</h3>
  <h3 class="welcome3">github: https://github.com/shelbylb97</h3>
  <h3 class="welcome3">linkedin: www.linkedin.com/in/shelby-butt</h3>
</div>
     <div class="container1">
    <img src="" style="max-width:100%;cursor:pointer"
	onclick="onClick(this)" class="modal-hover-opacity">
  </div>
  <div class="container1">
    <img src="" style="max-width:100%;cursor:pointer" 
    onclick="onClick(this)" class="modal-hover-opacity">
  </div>
  <div class="container1">
    <img src="" style="max-width:100%;cursor:pointer" 
    onclick="onClick(this)" class="modal-hover-opacity">
  </div>
  <div class="container1">
    <img src="" style="max-width:100%;cursor:pointer" onclick="onClick(this)" class="modal-hover-opacity">
  </div>


<div id="modal01" class="modal" onclick="this.style.display='none'">
  <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <div class="modal-content">
    <img id="img01" style="max-width:100%">
  </div>
</div>

<div>
    <h3 class="welcome1">recent work</h3>
</div>

</div>