* {
    background-color:  #FFFFF2;
    font-family: 'Brygada 1918', serif;
    text-align: center;
    color: #283D3B !important;
}

#img {
    display: block;
    max-width: 75%;
    height: auto;
  }

 #nav {
     padding: 20px;
     color: #7C9EB2
     
 } 
 
nav.navlink:hover {
  color: #FFFFF2 !important;
  }